html {
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}

/*Helpers*/
.container{
  width: 1200px;
  margin: 0 auto;
}
.bgMain{
  background: #1F2235;
}
.h-6{
  height: 650px;
}
.alignCenter{
  align-items: center;
}

/*Grid System*/
.row{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.col-11{
  width: 91.663%;
}
.col-12{
  width: 100%;
}
.col-6{
  width: 50%;
  
}
.col-4{
  width: 33.333333333333%;
}
.col-5{
  width: 41.66666666666;
}
.col-7{
  width: 58.33%;
}
