.cta_section {
  background: url(../../../assets/images/cta-action.jpg);
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}
.cta_section:before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
-45deg
,rgba(88, 195, 255,.8) 0,rgba(0, 77, 230,.8) 40%,rgba(0, 59, 177,.8) 100%);
}
.cta_content h3{
  color: #fff;
}
.section_padding {
  padding: 100px 0;
}